<div class="ed-item web-15 no-padding">
                    <div id="panel" class="ed-container">
                        <div class="ed-item movil-1-3 web-100 main-center web-main-start no-padding">
                            <ul>
                                <li>
                                    <p>
                                        Categorías
                                    </p>
                                </li>
                                <li class="cross-center">
                                    <input type="checkbox" value="" />
                                    <label>Automotríz</label>
                                </li>
                                <li class="cross-center">
                                    <input type="checkbox" value="" />
                                    <label>Bienes raíces</label>
                                </li>
                                <li class="cross-center">
                                    <input type="checkbox" value="" />
                                    <label>Informática</label>
                                </li>
                                <li class="cross-center">
                                    <input type="checkbox" value="" />
                                    <label>Electronónica</label>
                                </li>
                                <li class="cross-center">
                                    <input type="checkbox" value="" />
                                    <label>General</label>
                                </li>
                            </ul>
                        </div>
                        <div class="ed-item movil-1-3 web-100 main-center web-main-start no-padding">
                            <ul>
                                <li>
                                    <p>
                                        Estado
                                    </p>
                                </li>
                                <li class="cross-center">
                                    <input type="checkbox" value="" />
                                    <label>Aguascalientes</label>
                                </li>
                                <li class="cross-center">
                                    <input type="checkbox" value="" />
                                    <label>Baja California</label>
                                </li>
                                <li class="cross-center">
                                    <input type="checkbox" value="" />
                                    <label>Baja california Sur</label>
                                </li>
                                <li class="cross-center">
                                    <input type="checkbox" value="" />
                                    <label>Chihuahua</label>
                                </li>
                                <li class="cross-center">
                                    <input type="checkbox" value="" />
                                    <label>Distrito Federal</label>
                                </li>
                                <li>
                                    <a href="#">Ver más estados</a>
                                </li>
                            </ul>
                        </div>
                        <div class="ed-item movil-1-3 web-100 main-center web-main-start no-padding">
                            <ul>
                                <li>
                                    <p>
                                        Tipo
                                    </p>
                                </li>
                                <li class="cross-center">
                                    <input type="checkbox" value="" />
                                    <label>Renta</label>
                                </li>
                                <li class="cross-center">
                                    <input type="checkbox" value="" />
                                    <label>Venta</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>