{{>header}}
<div class="main-banner">
            <div class="ed-container">
                <div class="ed-item main-center cross-center banner no-padding">
                    <img src="img/home/banner/fondo.jpg" alt="Banner">
                    <div class="ed-container">
                        <div class="ed-item banner__description no-padding">
                            <h1>
                                Venta o Renta de<br />Bienes Personales.
                            </h1>
                        </div>
                        <div class="ed-item subir no-padding">
                            <h2>
                                ¿Quieres subir<br />un <span>aviso ?</span>
                            </h2>
                            <p>
                                Aprovecha al máximo esta<br />herramienta que KPMG<br/>pone a tu disposición.
                            </p>
                            <a href="#">Subir anuncio</a>
                        </div>
                    </div>
                    <div class="ed-container">
                        <div id="contenedor-buscar" class="ed-item main-center cross-center no-padding">
                            <input type="text" placeholder="Buscar un artículo...">
                            <a href="#" class="cross-center">Buscar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
     <main>
        <section>
            <div class="ed-container padding-3">
               {{>filters}}
                <div class="ed-item web-70 padding-3">
                    <div id="principal" class="ed-container">
                        <div class="ed-item item-uno no-padding">
                            <div class="ed-container">
                                <div class="ed-item sub-uno tablet-30 no-padding">
                                    <img src="img/home/items/1/foto.jpg" alt="Moto">
                                    <div id="fecha">
                                        <p>
                                            20<br /> Nov
                                        </p>
                                    </div>
                                    <div id="etiqueta">
                                        <p>
                                            Venta
                                        </p>
                                    </div>
                                </div>
                                <div class="ed-item sub-dos tablet-70 no-padding">
                                    <div class="ed-container">
                                        <div class="ed-item tablet-70 base-order-2 tablet-order-1 no-padding">
                                            <h2 class="item__title">
                                                Moto Suzuki Hayabusa 1300
                                            </h2>
                                        </div>
                                        <div class="ed-item tablet-30 main-center tablet-main-end base-order-1 web-order-2 no-padding">
                                            <div id="costo">
                                                <h3>
                                                    $ 80,000
                                                    </3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ed-container">
                                        <div class="ed-item item-tags no-padding">
                                            <a href="#">Año: 2013</a>
                                            <a href="#">Pago: Efectivo / Transferencia</a>
                                        </div>
                                    </div>
                                    <div class="ed-container">
                                        <div class="ed-item item-description no-padding">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa cum sociis...
                                            </p>
                                        </div>
                                    </div>
                                    <div id="container-user" class="ed-container cross-center">
                                        <div class="ed-item tablet-70 item-tags no-padding">
                                            <a href="#"><img src="img/iconos/user.png" alt="Icono de usuario">Usuario: Miguel Acosta</a>
                                            <a href="#">Folio: 001</a>
                                        </div>
                                        <div class="ed-item tablet-30 main-center tablet-main-end no-padding">
                                            <a href="detalle.html" class="button-description">Descripción</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ed-item item-dos main-center cross-center no-padding">
                            <div class="ed-container">
                                <div class="ed-item sub-uno tablet-30 no-padding">
                                    <img src="img/home/items/2/foto.jpg" alt="Moto">
                                    <div id="fecha">
                                        <p>
                                            20<br /> Nov
                                        </p>
                                    </div>
                                    <div id="etiqueta">
                                        Venta
                                    </div>
                                </div>
                                <div class="ed-item sub-dos tablet-70 no-padding">
                                    <div class="ed-container">
                                        <div class="ed-item tablet-70 base-order-2 tablet-order-1 no-padding">
                                            <h2 class="item__title">
                                                Nissan Áltima
                                            </h2>
                                        </div>
                                        <div class="ed-item tablet-30 main-center tablet-main-end base-order-1 web-order-2 no-padding">
                                            <div id="costo">
                                                <h3>
                                                    $ 182,000
                                                    </3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ed-container">
                                        <div class="ed-item item-tags no-padding">
                                            <a href="#">Año: 2008</a>
                                            <a href="#">Pago: Efectivo / Transferencia</a>
                                        </div>
                                    </div>
                                    <div class="ed-container">
                                        <div class="ed-item item-description no-padding">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa cum sociis...
                                            </p>
                                        </div>
                                    </div>
                                    <div id="container-user" class="ed-container cross-center">
                                        <div class="ed-item tablet-70 item-tags no-padding">
                                            <a href="#"><img src="img/iconos/user.png" alt="Icono de usuario">Usuario: Antonio Méndez</a>
                                            <a href="#">Folio: 002</a>
                                        </div>
                                        <div class="ed-item tablet-30 main-center tablet-main-end no-padding">
                                            <a href="detalle.html" class="button-description">Descripción</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ed-item item-tres main-center cross-center no-padding">
                            <div class="ed-container">
                                <div class="ed-item sub-uno tablet-30 no-padding">
                                    <img src="img/home/items/3/foto.jpg" alt="Moto">
                                    <div id="fecha">
                                        <p>
                                            20<br /> Nov
                                        </p>
                                    </div>
                                    <div id="etiqueta">
                                        Venta
                                    </div>
                                </div>
                                <div class="ed-item sub-dos tablet-70 no-padding">
                                    <div class="ed-container">
                                        <div class="ed-item tablet-70 base-order-2 tablet-order-1 no-padding">
                                            <h2 class="item__title">
                                                Chevrolet Avalanche 4p Lt 4x4
                                            </h2>
                                        </div>
                                        <div class="ed-item tablet-30 main-center tablet-main-end base-order-1 web-order-2 no-padding">
                                            <div id="costo">
                                                <h3>
                                                    $ 170,000
                                                    </3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ed-container">
                                        <div class="ed-item item-tags no-padding">
                                            <a href="#">Año: 2007</a>
                                            <a href="#">Pago: Efectivo / Transferencia</a>
                                        </div>
                                    </div>
                                    <div class="ed-container">
                                        <div class="ed-item item-description no-padding">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa cum sociis...
                                            </p>
                                        </div>
                                    </div>
                                    <div id="container-user" class="ed-container cross-center">
                                        <div class="ed-item tablet-70 item-tags no-padding">
                                            <a href="#"><img src="img/iconos/user.png" alt="Icono de usuario">Usuario: Eduardo Barreras</a>
                                            <a href="#">Folio: 003</a>
                                        </div>
                                        <div class="ed-item tablet-30 main-center tablet-main-end no-padding">
                                            <a href="detalle.html" class="button-description">Descripción</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ed-item web-15 no-padding">
                <div id="anuncio" class="ed-container">
                    <div class="ed-item main-center web-main-end no-padding">
                        <img src="img/home/anuncio/anuncio.jpg" alt="Anuncio">
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{{>footer}}
                