<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <script src="js/jquery.js"></script>
    <script src="js/scripts.js"></script>
    <title>HOME</title>
</head>

<body class="">
    <header>
        <div class="main-header">
            <div class="ed-container padding-3">
                <div class="ed-item tablet-40 no-padding main-center tablet-main-start cross-center">
                    <a href="index.html"><img src="img/logo.png" alt="Logo de la página."></a>
                    <p>
                        Aviso oportuno
                    </p>
                </div>
                <div class="ed-item tablet-60 no-padding main-center tablet-main-end cross-center">
                    <div class="main-center cross-center toggle-menu icon-menu hasta-tablet full toggle-menu"></div>
                    <ul class="ed-menu tablet-horizontal">
                        <li>
                            <a href="index.html" class="actual">Avisos</a>
                        </li>
                        <li>
                            <a href="lineamientos.html">Lineamientos</a>
                        </li>
                        <li>
                            <a href="solicitud.html">Publica tu anuncio</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main-banner">
            <div class="ed-container">
                <div class="ed-item main-center cross-center banner no-padding">
                    <img src="img/home/banner/fondo.jpg" alt="Banner">
                    <div class="ed-container">
                        <div class="ed-item banner__description no-padding">
                            <h1>
                                Venta o Renta de<br />Bienes Personales.
                            </h1>
                        </div>
                        <div class="ed-item subir no-padding">
                            <h2>
                                ¿Quieres subir<br />un <span>aviso ?</span>
                            </h2>
                            <p>
                                Aprovecha al máximo esta<br />herramienta que KPMG<br/>pone a tu disposición.
                            </p>
                            <a href="#">Subir anuncio</a>
                        </div>
                    </div>
                    <div class="ed-container">
                        <div id="contenedor-buscar" class="ed-item main-center cross-center no-padding">
                            <input type="text" placeholder="Buscar un artículo...">
                            <a href="#" class="cross-center">Buscar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section>
            <div class="ed-container padding-3">
                <div class="ed-item web-15 no-padding">
                    <div id="panel" class="ed-container">
                        <div class="ed-item movil-1-3 web-100 main-center web-main-start no-padding">
                            <ul>
                                <li>
                                    <p>
                                        Categorías
                                    </p>
                                </li>
                                <li class="cross-center">
                                    <input type="checkbox" value="" />
                                    <label>Automotríz</label>
                                </li>
                                <li class="cross-center">
                                    <input type="checkbox" value="" />
                                    <label>Bienes raíces</label>
                                </li>
                                <li class="cross-center">
                                    <input type="checkbox" value="" />
                                    <label>Informática</label>
                                </li>
                                <li class="cross-center">
                                    <input type="checkbox" value="" />
                                    <label>Electronónica</label>
                                </li>
                                <li class="cross-center">
                                    <input type="checkbox" value="" />
                                    <label>General</label>
                                </li>
                            </ul>
                        </div>
                        <div class="ed-item movil-1-3 web-100 main-center web-main-start no-padding">
                            <ul>
                                <li>
                                    <p>
                                        Estado
                                    </p>
                                </li>
                                <li class="cross-center">
                                    <input type="checkbox" value="" />
                                    <label>Aguascalientes</label>
                                </li>
                                <li class="cross-center">
                                    <input type="checkbox" value="" />
                                    <label>Baja California</label>
                                </li>
                                <li class="cross-center">
                                    <input type="checkbox" value="" />
                                    <label>Baja california Sur</label>
                                </li>
                                <li class="cross-center">
                                    <input type="checkbox" value="" />
                                    <label>Chihuahua</label>
                                </li>
                                <li class="cross-center">
                                    <input type="checkbox" value="" />
                                    <label>Distrito Federal</label>
                                </li>
                                <li>
                                    <a href="#">Ver más estados</a>
                                </li>
                            </ul>
                        </div>
                        <div class="ed-item movil-1-3 web-100 main-center web-main-start no-padding">
                            <ul>
                                <li>
                                    <p>
                                        Tipo
                                    </p>
                                </li>
                                <li class="cross-center">
                                    <input type="checkbox" value="" />
                                    <label>Renta</label>
                                </li>
                                <li class="cross-center">
                                    <input type="checkbox" value="" />
                                    <label>Venta</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="ed-item web-70 padding-3">
                    <div id="principal" class="ed-container">
                        <div class="ed-item item-uno no-padding">
                            <div class="ed-container">
                                <div class="ed-item sub-uno tablet-30 no-padding">
                                    <img src="img/home/items/1/foto.jpg" alt="Moto">
                                    <div id="fecha">
                                        <p>
                                            20<br /> Nov
                                        </p>
                                    </div>
                                    <div id="etiqueta">
                                        <p>
                                            Venta
                                        </p>
                                    </div>
                                </div>
                                <div class="ed-item sub-dos tablet-70 no-padding">
                                    <div class="ed-container">
                                        <div class="ed-item tablet-70 base-order-2 tablet-order-1 no-padding">
                                            <h2 class="item__title">
                                                Moto Suzuki Hayabusa 1300
                                            </h2>
                                        </div>
                                        <div class="ed-item tablet-30 main-center tablet-main-end base-order-1 web-order-2 no-padding">
                                            <div id="costo">
                                                <h3>
                                                    $ 80,000
                                                    </3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ed-container">
                                        <div class="ed-item item-tags no-padding">
                                            <a href="#">Año: 2013</a>
                                            <a href="#">Pago: Efectivo / Transferencia</a>
                                        </div>
                                    </div>
                                    <div class="ed-container">
                                        <div class="ed-item item-description no-padding">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa cum sociis...
                                            </p>
                                        </div>
                                    </div>
                                    <div id="container-user" class="ed-container cross-center">
                                        <div class="ed-item tablet-70 item-tags no-padding">
                                            <a href="#"><img src="img/iconos/user.png" alt="Icono de usuario">Usuario: Miguel Acosta</a>
                                            <a href="#">Folio: 001</a>
                                        </div>
                                        <div class="ed-item tablet-30 main-center tablet-main-end no-padding">
                                            <a href="detalle.html" class="button-description">Descripción</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ed-item item-dos main-center cross-center no-padding">
                            <div class="ed-container">
                                <div class="ed-item sub-uno tablet-30 no-padding">
                                    <img src="img/home/items/2/foto.jpg" alt="Moto">
                                    <div id="fecha">
                                        <p>
                                            20<br /> Nov
                                        </p>
                                    </div>
                                    <div id="etiqueta">
                                        Venta
                                    </div>
                                </div>
                                <div class="ed-item sub-dos tablet-70 no-padding">
                                    <div class="ed-container">
                                        <div class="ed-item tablet-70 base-order-2 tablet-order-1 no-padding">
                                            <h2 class="item__title">
                                                Nissan Áltima
                                            </h2>
                                        </div>
                                        <div class="ed-item tablet-30 main-center tablet-main-end base-order-1 web-order-2 no-padding">
                                            <div id="costo">
                                                <h3>
                                                    $ 182,000
                                                    </3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ed-container">
                                        <div class="ed-item item-tags no-padding">
                                            <a href="#">Año: 2008</a>
                                            <a href="#">Pago: Efectivo / Transferencia</a>
                                        </div>
                                    </div>
                                    <div class="ed-container">
                                        <div class="ed-item item-description no-padding">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa cum sociis...
                                            </p>
                                        </div>
                                    </div>
                                    <div id="container-user" class="ed-container cross-center">
                                        <div class="ed-item tablet-70 item-tags no-padding">
                                            <a href="#"><img src="img/iconos/user.png" alt="Icono de usuario">Usuario: Antonio Méndez</a>
                                            <a href="#">Folio: 002</a>
                                        </div>
                                        <div class="ed-item tablet-30 main-center tablet-main-end no-padding">
                                            <a href="detalle.html" class="button-description">Descripción</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ed-item item-tres main-center cross-center no-padding">
                            <div class="ed-container">
                                <div class="ed-item sub-uno tablet-30 no-padding">
                                    <img src="img/home/items/3/foto.jpg" alt="Moto">
                                    <div id="fecha">
                                        <p>
                                            20<br /> Nov
                                        </p>
                                    </div>
                                    <div id="etiqueta">
                                        Venta
                                    </div>
                                </div>
                                <div class="ed-item sub-dos tablet-70 no-padding">
                                    <div class="ed-container">
                                        <div class="ed-item tablet-70 base-order-2 tablet-order-1 no-padding">
                                            <h2 class="item__title">
                                                Chevrolet Avalanche 4p Lt 4x4
                                            </h2>
                                        </div>
                                        <div class="ed-item tablet-30 main-center tablet-main-end base-order-1 web-order-2 no-padding">
                                            <div id="costo">
                                                <h3>
                                                    $ 170,000
                                                    </3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ed-container">
                                        <div class="ed-item item-tags no-padding">
                                            <a href="#">Año: 2007</a>
                                            <a href="#">Pago: Efectivo / Transferencia</a>
                                        </div>
                                    </div>
                                    <div class="ed-container">
                                        <div class="ed-item item-description no-padding">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa cum sociis...
                                            </p>
                                        </div>
                                    </div>
                                    <div id="container-user" class="ed-container cross-center">
                                        <div class="ed-item tablet-70 item-tags no-padding">
                                            <a href="#"><img src="img/iconos/user.png" alt="Icono de usuario">Usuario: Eduardo Barreras</a>
                                            <a href="#">Folio: 003</a>
                                        </div>
                                        <div class="ed-item tablet-30 main-center tablet-main-end no-padding">
                                            <a href="detalle.html" class="button-description">Descripción</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ed-item web-15 no-padding">
                    <div id="anuncio" class="ed-container">
                        <div class="ed-item main-center web-main-end no-padding">
                            <img src="img/home/anuncio/anuncio.jpg" alt="Anuncio">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="ed-container padding-3">
            <div class="ed-item web-60 no-padding">
                <p>
                    © 2015 KPMG Cárdenas Dosal, S.C. la firma mexicana miembro de la red de firmas miembro independientes de KPMG afiliadas a KPMG International Cooperative (“KPMG International”), una entidad suiza. Blvd. Manuel Ávila Camacho 176, México, 11650, D.F. Todos
                    los derechos reservados.
                    <p>
                        KPMG International Cooperative (“KPMG International”) es una entidad suiza. Las firmas miembro de la red de firmas independientes de KPMG están afiliadas a KPMG International. KPMG International no provee servicios a clientes. Ninguna firma miembro tiene
                        autoridad para obligar o comprometer a KPMG International ni a ninguna otra firma miembro frente a terceros, ni KPMG International tiene autoridad alguna para obligar o comprometer a ninguna firma miembro. KPMG y el logotipo de
                        KPMG son marcas registradas de KPMG International Cooperative (“KPMG International”), una entidad Suiza.
                    </p>
            </div>
            <div class="ed-item web-40 no-padding">
                <div class="ed-container">
                    <div class="ed-item web-1-3 main-center web-main-end cross-center no-padding">
                        <img src="img/footer/1.png" alt="">
                    </div>
                    <div class="ed-item web-1-3 main-center web-main-end cross-center no-padding">
                        <img src="img/footer/2.jpg" alt="">
                    </div>
                    <div class="ed-item web-1-3 main-center web-main-end cross-center no-padding">
                        <img src="img/footer/3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>