<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <link rel="stylesheet" href="css/styles.css"/>
  <script src="js/jquery.js"></script>
  <script src="js/scripts.js"></script>
  <title>LINEAMIENTOS</title>
</head>
<body class="">
  <header>
    <div class="main-header">
      <div class="ed-container padding-3">
        <div class="ed-item tablet-40 no-padding main-center tablet-main-start cross-center">
          <a href="index.html"><img src="img/logo.png" alt="Logo de la página."></a>
          <p>
            Aviso oportuno
          </p>
        </div>
        <div class="ed-item tablet-60 no-padding main-center tablet-main-end cross-center">
          <div class="main-center cross-center toggle-menu icon-menu hasta-tablet full toggle-menu"></div>
          <ul class="ed-menu tablet-horizontal">
            <li>
              <a href="index.html" class="actual">Avisos</a>
            </li>
            <li>
              <a href="lineamientos.html">Lineamientos</a>
            </li>
            <li>
              <a href="solicitud.html">Publica tu anuncio</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="main-banner">
      <div class="ed-container">
        <div class="ed-item main-center cross-center banner no-padding">
          <img src="img/lineamientos/banner/fondo.jpg" alt="Banner">
          <div class="ed-container">
            <div class="ed-item banner__description__lineamientos no-padding">
              <h1>
                Espacio & Oportunidades KPMG
              </h1>
              <p>
                Publica información sobre venta o renta de bienes personales.
              </p>
            </div>
        </div>
      </div>
    </div>
  </header>
  <main>
    <section>
      <div class="ed-container padding-3">
        <div class="ed-item web-85 no-padding normalizar-mt">
          <div class="ed-container">
            <div id="item-container" class="ed-item no-padding">
              <div class="ed-container">
                <div class="ed-item movil-20 sub-uno main-center cross-center no-padding">
                  <p>
                    01
                  </p>
                </div>
                <div class="ed-item movil-80 sub-dos cross-center no-padding">
                  <p>
                    Este espacio tiene como fin ser un medio de contacto y apoyo para el personal de KPMG, en ningún momento nuestra Firma tendrá ingerencia en los acuerdos finales entre los interesados, ni en las formas de pago o condiciones acordadas entre los mismos.
                  </p>
                </div>
              </div>
            </div>
            <div id="item-container" class="ed-item no-padding">
              <div class="ed-container">
                <div class="ed-item movil-20 sub-uno main-center cross-center no-padding">
                  <p>
                    02
                  </p>
                </div>
                <div class="ed-item movil-80 sub-dos cross-center no-padding">
                  <p>
                    Es para uso exclusivo del personal de la firma, por lo que sólo serán publicados anuncios del personal activo de KPMG, incluyendo todos los datos del interesado como nombre completo, número de nómina, área, oficina local, correo electrónico y extensión.
                  </p>
                </div>
              </div>
            </div>
            <div id="item-container" class="ed-item no-padding">
              <div class="ed-container">
                <div class="ed-item movil-20 sub-uno main-center cross-center no-padding">
                  <p>
                    03
                  </p>
                </div>
                <div class="ed-item movil-80 sub-dos cross-center no-padding">
                  <p>
                    El contacto para atender a los interesados en el anuncio publicado deberá ser únicamente el colaborador de KPMG. No es posible publicar correos electrónicos personales, teléfonos locales o celulares externos.
                  </p>
                </div>
              </div>
            </div>
            <div id="item-container" class="ed-item no-padding">
              <div class="ed-container">
                <div class="ed-item movil-20 sub-uno main-center cross-center no-padding">
                  <p>
                    04
                  </p>
                </div>
                <div class="ed-item movil-80 sub-dos cross-center no-padding">
                  <p>
                    La vigencia de los anuncios publicados es de 3 meses. Si el producto ya ha sido adquirido, el propietario del anuncio deberá notificar al correo MX-FM Comunicacion organizacional KPMG para dar de baja su publicación.
                  </p>
                </div>
              </div>
            </div>
            <div id="item-container" class="ed-item no-padding">
              <div class="ed-container">
                <div class="ed-item movil-20 sub-uno main-center cross-center no-padding">
                  <p>
                    05
                  </p>
                </div>
                <div class="ed-item movil-80 sub-dos cross-center no-padding">
                  <p>
                    No se pueden publicar anuncios de venta con fines de negocio personal (venta por catálogo, líneas de productos de marcas específicas, etc.)
                  </p>
                </div>
              </div>
            </div>
            <div id="item-container" class="ed-item no-padding">
              <div class="ed-container">
                <div class="ed-item movil-20 sub-uno main-center cross-center no-padding">
                  <p>
                    06
                  </p>
                </div>
                <div class="ed-item movil-80 sub-dos cross-center no-padding">
                  <p>
                    El contenido y objetivo del anuncio deben de ser apropiados a este tipo de medio. Los administradores de la herramienta pueden rechazar una solicitud que no cumpla con estas condiciones.
                  </p>
                </div>
              </div>
            </div>
            <div id="item-container" class="ed-item no-padding">
              <div class="ed-container">
                <div class="ed-item movil-20 sub-uno main-center cross-center no-padding">
                  <p>
                    07
                  </p>
                </div>
                <div class="ed-item movil-80 sub-dos cross-center no-padding">
                  <p>
                    En caso de un mal uso de esta herramienta, se aplicarán las sanciones correspondientes.
                  </p>
                </div>
              </div>
            </div>
            <div id="item-container" class="ed-item no-padding">
              <div class="ed-container">
                <div class="ed-item movil-20 sub-uno main-center cross-center no-padding">
                  <p>
                    08
                  </p>
                </div>
                <div class="ed-item movil-80 sub-dos cross-center no-padding">
                  <p>
                    Sólo se podrán subir un máximo de 2 fotografías en la publicación de tu anuncio.
                  </p>
                </div>
              </div>
            </div>
            <div id="item-container" class="ed-item no-padding">
              <div class="ed-container">
                <div class="ed-item movil-20 sub-uno main-center cross-center no-padding">
                  <p>
                    09
                  </p>
                </div>
                <div class="ed-item movil-80 sub-dos cross-center no-padding">
                  <p>
                    Para solicitar la publicación de un aviso oportuno es importante que realices correctamente el 
                    <a href="#">Proceso de Solicitud.</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ed-item web-15 no-padding">
          <div id="anuncio" class="ed-container">
            <div class="ed-item main-center web-main-end no-padding">
              <img src="img/home/anuncio/anuncio.jpg" alt="Anuncio">
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer>
    <div class="ed-container padding-3">
      <div class="ed-item web-60 no-padding">
        <p>
          © 2015 KPMG Cárdenas Dosal, S.C. la firma mexicana miembro de la red de firmas miembro independientes de KPMG afiliadas a KPMG International Cooperative (“KPMG International”), una entidad suiza. Blvd. Manuel Ávila Camacho 176, México, 11650, D.F. Todos los derechos reservados.
          <p>
          KPMG International Cooperative (“KPMG International”) es una entidad suiza. Las firmas miembro de la red de firmas independientes de KPMG están afiliadas a KPMG International. KPMG International no provee servicios a clientes. Ninguna firma miembro tiene autoridad para obligar o comprometer a KPMG International ni a ninguna otra firma miembro frente a terceros, ni KPMG International tiene autoridad alguna para obligar o comprometer a ninguna firma miembro. KPMG y el logotipo de KPMG son marcas registradas de KPMG International Cooperative (“KPMG International”), una entidad Suiza. 
        </p>
      </div>
      <div class="ed-item web-40 no-padding">
        <div class="ed-container">
          <div class="ed-item web-1-3 main-center web-main-end cross-center no-padding">
            <img src="img/footer/1.png" alt="">
          </div>
          <div class="ed-item web-1-3 main-center web-main-end cross-center no-padding">
            <img src="img/footer/2.jpg" alt="">
          </div>
          <div class="ed-item web-1-3 main-center web-main-end cross-center no-padding">
            <img src="img/footer/3.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>